@import url(../styles/variables.css);

.container {
  background-image: url(../assets/images/background\ 1.jpg);
  width: 100%;
  margin: 0 auto;
  color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: auto 100%;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
}

.header__container {
  justify-content: center;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  width: 1028px;
  margin: 0 auto;
  padding-top: 2rem;
}

.logo__link:hover .logo__text {
  color: rgb(255, 115, 0);
  transition: 500ms;
  transition-timing-function: 500ms ease-in-out;
}

a:hover .logo-2 {
  opacity: 0%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 500ms;
}

.Milan {
  font-size: 29px;
}

.Holidays {
  font-size: 18px;
}

.logo__link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.logo__text {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  transition: 300ms ease-in-out;
}

.logo-2 {
  position: absolute;
  transition: 300ms ease-in-out;
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header__link {
  list-style-type: none;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 1028px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.main__cards-1 {
  display: flex;
  justify-content: space-between;
}

.email__link {
  color: white;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.email__link:hover {
  color: #f26522;
}

.contact__link {
  color: white;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.contact__link:hover {
  color: #f26522;
}

.price {
  font-size: 10px;
}

.prise__50 {
  font-size: 20px;
  margin-top: 8px;
}

.pop-up {
  position: relative;
  overflow: hidden;
}

.main__cards-2 {
  display: flex;
  justify-content: space-between;
}

.main__card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__text {
  padding: 2rem;
}

.card__text-1 {
  padding: 2rem;
}

.link-1:hover > .card__text-1 {
  color: #f26522;
  transition: 300ms;
}

.imagine__border-gradient {
  width: 300px;
  padding: 1rem;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
  padding: 3px;
}

.main__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  justify-content: space-between;
}

.button-link {
  position: absolute;
  padding: 9px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  bottom: -61.5px;
  left: 0;
  width: 100%;
  background-color: #f26522;
  border: none;
  transition: 400ms;
}

.link-1:hover .button-link {
  transform: translateY(-61.5px);
}

.details::after {
  content: url(./assets/images/Vector\ 1.png);
  margin-left: 16px;
}

.price {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
}

.footer__container {
  width: 1028px;
  display: flex;
  justify-content: center;
}
