* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}